.container {
  display: flex;
  gap: 10px;
  padding: 20px 10px;
  /* border-bottom: 1px solid rgb(220, 220, 220); */

  color: white;
  text-decoration: none;
}

.container > img {
  width: 100%;
  height: auto;
}

.title {
  font-weight: bold;
}

.subTitle {
  word-break: keep-all;
}

.info {
  color: gray;
}
